# Open my csv file to start cleaning up the data to make my DataFrame

#Opened my CSV file

In [2]:
import pandas as pd
population_crime= pd.read_csv("dataFiles\crimes.dataset.csv")
 
population_crime

,Year,Population,Violent Crimes,Violent crime rate,Murder nonnegligent manslaughter,Murder nonnegligent manslaughter rate,Rape\n(revised\ndefinition),Rape\n(revised\ndefinition)\nrate,Rape\n(legacy\ndefinition,Rape\n(legacy\ndefinition)\nrate,...,Aggravated\nassault,Aggravated\nassault rate,Property\ncrime,Property\ncrime\nrate,Burglary,Burglary\nrate,Larceny-\ntheft,Larceny-\ntheft rate,Motor\nvehicle\ntheft,Motor\nvehicle\ntheft\nrate
0,2000,"281,421,906","1,425,486",506.5,"15,586",5.5,NaN,NaN,"90,178",32.0,...,"911,706",324.0,"10,182,584","3,618.3","2,050,992",728.8,"6,971,590","2,477.3","1,160,002",412.2
1,2001,"285,317,559","1,439,480",504.5,"16,037",5.6,NaN,NaN,"90,863",31.8,...,"909,023",318.6,"10,437,189","3,658.1","2,116,531",741.8,"7,092,267","2,485.7","1,228,391",430.5
2,2002,"287,973,924","1,423,677",494.4,"16,229",5.6,NaN,NaN,"95,235",33.1,...,"891,407",309.5,"10,455,277","3,630.6","2,151,252",747.0,"7,057,379","2,450.7","1,246,646",432.9
3,2003,"290,788,976","1,383,676",475.8,"16,528",5.7,NaN,NaN,"93,883",32.3,...,"859,030",295.4,"10,442,862","3,591.2","2,154,834",741.0,"7,026,802","2,416.5","1,261,226",433.7
4,2004,"293,656,842","1,360,088",463.2,"16,148",5.5,NaN,NaN,"95,089",32.4,...,"847,381",288.6,"10,319,386","3,514.1","2,144,446",730.3,"6,937,089","2,362.3","1,237,851",421.5
5,2005,"296,507,061","1,390,745",469.0,"16,740",5.6,NaN,NaN,"94,347",31.8,...,"862,220",290.8,"10,174,754","3,431.5","2,155,448",726.9,"6,783,447","2,287.8","1,235,859",416.8
6,2006,"299,398,484","1,435,123",479.3,"17,309",5.8,NaN,NaN,"94,472",31.6,...,"874,096",292.0,"10,019,601","3,346.6","2,194,993",733.1,"6,626,363","2,213.2","1,198,245",400.2
7,2007,"301,621,157","1,422,970",471.8,"17,128",5.7,NaN,NaN,"92,160",30.6,...,"866,358",287.2,"9,882,212","3,276.4","2,190,198",726.1,"6,591,542","2,185.4","1,100,472",364.9
8,2008,"304,059,724","1,394,461",458.6,"16,465",5.4,NaN,NaN,"90,750",29.8,...,"843,683",277.5,"9,774,152","3,214.6","2,228,887",733.0,"6,586,206","2,166.1","959,059",315.4
9,2009,"307,006,550","1,325,896",431.9,"15,399",5.0,NaN,NaN,"89,241",29.1,...,"812,514",264.7,"9,337,060","3,041.3","2,203,313",717.7,"6,338,095","2,064.5","795,652",259.2
10,2010,"309,330,219","1,251,248",404.5,"14,722",4.8,NaN,NaN,"85,593",27.7,...,"781,844",252.8,"9,112,625","2,945.9","2,168,459",701.0,"6,204,601","2,005.8","739,565",239.1
11,2011,"311,587,816","1,206,005",387.1,"14,661",4.7,NaN,NaN,"84,175",27.0,...,"752,423",241.5,"9,052,743","2,905.4","2,185,140",701.3,"6,151,095","1,974.1","716,508",230.0
12,2012,"313,873,685","1,217,057",387.8,"14,856",4.7,NaN,NaN,"85,141",27.1,...,"762,009",242.8,"9,001,992","2,868.0","2,109,932",672.2,"6,168,874","1,965.4","723,186",230.4
13,2013,"316,497,531","1,168,298",369.1,"14,319",4.5,"113,695",35.9,"82,109",25.9,...,"726,777",229.6,"8,651,892","2,733.6","1,932,139",610.5,"6,019,465","1,901.9","700,288",221.3
14,2014,"318,907,401","1,153,022",361.6,"14,164",4.4,"118,027",37.0,"84,864",26.6,...,"731,089",229.2,"8,209,010","2,574.1","1,713,153",537.2,"5,809,054","1,821.5","686,803",215.4
15,2015,"320,896,618","1,199,310",373.7,"15,883",4.9,"126,134",39.3,"91,261",28.4,...,"764,057",238.1,"8,024,115","2,500.5","1,587,564",494.7,"5,723,488","1,783.6","713,063",222.2
16,2016,"323,405,935","1,250,162",386.6,"17,413",5.4,"132,414",40.9,"96,970",30.0,...,"802,982",248.3,"7,928,530","2,451.6","1,516,405",468.9,"5,644,835","1,745.4","767,290",237.3
17,2017,"325,147,121","1,247,917",383.8,"17,294",5.3,"135,666",41.7,"99,708",30.7,...,"810,319",249.2,"7,682,988","2,362.9","1,397,045",429.7,"5,513,000","1,695.5","772,943",237.7
18,2018,"326,687,501","1,209,997",370.4,"16,374",5.0,"143,765",44.0,"101,363",31.0,...,"810,982",248.2,"7,219,084","2,209.8","1,235,013",378.0,"5,232,167","1,601.6","751,904",230.2
19,2019,"328,239,523","1,203,808",366.7,"16,425",5.0,"139,815",42.6,"98,213",29.9,...,"821,182",250.2,"6,925,677","2,109.9","1,117,696",340.5,"5,086,096","1,549.5","721,885",219.9

#Use drop to remove columns in my DataFrame

In [3]:
columns_to_remove = [
    'Murder nonnegligent manslaughter rate',
    'Rape\n(revised\ndefinition)',
    'Rape\n(revised\ndefinition)\nrate',
    'Rape\n(legacy\ndefinition)\nrate',
    'Robbery\nrate',
    'Aggravated\nassault rate',
    'Property\ncrime',
    'Property\ncrime\nrate',
    'Larceny-\ntheft rate',
    'Motor\nvehicle\ntheft',
    'Motor\nvehicle\ntheft\nrate',
    'Burglary\nrate',
    'Violent crime rate',
    'Aggravated\nassault',
    'Larceny-\ntheft',
    'Murder nonnegligent manslaughter',
    'Rape\n(legacy\ndefinition',
    'Robbery',
    'Burglary',
    
]

population_crime = population_crime.drop(columns=columns_to_remove)
population_crime

    Year   Population Violent Crimes
0   2000  281,421,906      1,425,486
1   2001  285,317,559      1,439,480
2   2002  287,973,924      1,423,677
3   2003  290,788,976      1,383,676
4   2004  293,656,842      1,360,088
5   2005  296,507,061      1,390,745
6   2006  299,398,484      1,435,123
7   2007  301,621,157      1,422,970
8   2008  304,059,724      1,394,461
9   2009  307,006,550      1,325,896
10  2010  309,330,219      1,251,248
11  2011  311,587,816      1,206,005
12  2012  313,873,685      1,217,057
13  2013  316,497,531      1,168,298
14  2014  318,907,401      1,153,022
15  2015  320,896,618      1,199,310
16  2016  323,405,935      1,250,162
17  2017  325,147,121      1,247,917
18  2018  326,687,501      1,209,997
19  2019  328,239,523      1,203,808

In [4]:
# Save the DataFrame to a new CSV file
population_crime.to_csv('population_violent_crime_rate.csv', index=False)