# Import requests and Beautifulsoup to web srape from a website to get my crime data for 52 states from 2011 to 2020

In [1]:
import requests
from bs4 import BeautifulSoup
import csv

url = "https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_violent_crime_rate"
response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')

    
    table = soup.find('table', {'class': 'wikitable'})

# pulling all data from the website for all the data of all years and saved to violent_crime_rates_all_years.csv

In [2]:
import requests
from bs4 import BeautifulSoup
import csv

url = "https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_violent_crime_rate"
response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')

    
    table = soup.find('table', {'class': 'wikitable'})


    with open('violent_crime_rates_all_years.csv', 'w', newline='', encoding='utf-8') as csvfile:
        csv_writer = csv.writer(csvfile)

        
        header = ['State']
        header.extend([year.text.strip() for year in table.find_all('th')[2:]])
        csv_writer.writerow(header)

        
        for row in table.find_all('tr')[2:]:  
            columns = row.find_all(['th', 'td'])  

            if len(columns) > 1:  
                state = columns[0].text.strip()
                rates = [column.text.strip() for column in columns[1:]]
                csv_writer.writerow([state] + rates)

    print("Data for all years has been successfully saved to 'violent_crime_rates_all_years.csv'.")

else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

Data for all years has been successfully saved to 'violent_crime_rates_all_years.csv'.

# open the csv file to read

In [3]:
import csv

with open('violent_crime_rates_all_years.csv', 'r', newline='', encoding='utf-8') as csvfile:

    csv_reader = csv.reader(csvfile)

    for row in csv_reader:
        print(row)

['State', '2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '', '', '', '', '', '', '', '', '', '', '', '', 'United States\u202f*', '1,313,105', '398.5', '379.4', '383.4', '394.0', '397.5', '383.2', '372.0', '367.9', '387.8', '386.3']
['Washington\u202f* D.C.', '7,127', '999.8', '1045.2', '997.1', '1002.7', '1203.5', '1269.1', '1242.6', '1281.9', '1241.8', '1202.1']
['Alaska\u202f*', '6,126', '837.8', '865.0', '891.7', '856.7', '804.6', '730.2', '635.5', '602.6', '604.1', '606.5']
['New Mexico\u202f*', '16,393', '778.3', '824.0', '842.8', '778.6', '699.4', '656.1', '597.7', '596.7', '559.6', '567.5']
['Tennessee\u202f*', '46,328', '672.7', '598.9', '630.4', '655.0', '638.5', '612.1', '610.7', '579.7', '638.5', '608.2']
['Arkansas\u202f*', '20,363', '671.9', '580.8', '561.6', '566.0', '554.3', '521.3', '480.2', '445.7', '469.6', '480.9']
['Arizona\u202f*', '35,980', '654.8', '447.1', '475.7', '505.7', '471.0', '410.2', '392.7', '405.8', '428.6', '405.9']
['Louisiana\u202f*', '29,704', '639.4', '559.7', '543.3', '556.3', '565.0', '539.7', '515.9', '510.4', '496.3', '555.3']
['Missouri\u202f*', '33,385', '542.7', '499.6', '501.4', '531.2', '520.8', '497.4', '443.3', '422.0', '451.3', '447.4']
['South Carolina\u202f*', '27,691', '530.7', '510.1', '500.8', '506.1', '506.8', '504.5', '497.8', '494.8', '560.5', '571.9']
['South Dakota\u202f*', '4,476', '501.4', '397.1', '396.4', '429.8', '422.0', '383.1', '328.3', '398.7', '323.8', '354.1']
['Michigan\u202f*', '47,641', '478.0', '438.6', '452.5', '449.9', '460.9', '415.5', '429.1', '429.8', '455.0', '453.0']
['Montana\u202f*', '5,077', '469.8', '417.9', '380.9', '373.9', '374.1', '349.6', '328.5', '240.7', '278.8', '267.5']
['Nevada\u202f*', '14,445', '460.3', '496.1', '552.1', '560.6', '677.9', '695.9', '635.7', '591.2', '608.6', '562.1']
['Oklahoma\u202f*', '18,255', '458.6', '436.3', '474.6', '457.4', '455.3', '422.0', '413.8', '428.1', '474.4', '454.8']
['Alabama\u202f*', '22,322', '453.6', '504.7', '523.1', '522.4', '532.4', '472.4', '427.7', '418.1', '450.3', '420.1']
['Texas\u202f*', '131,084', '446.5', '421.8', '412.9', '437.8', '433.8', '412.2', '406.7', '399.8', '408.6', '408.5']
['California\u202f*', '174,026', '442.0', '442.1', '447.5', '453.3', '444.8', '426.3', '396.4', '396.2', '423.5', '411.1']
['Delaware\u202f*', '4,262', '431.9', '422.7', '422.5', '457.3', '510.0', '499.0', '488.1', '479.1', '550.5', '559.5']
['Illinois\u202f*', '53,612', '425.9', '415.3', '411.4', '436.2', '436.7', '383.8', '370.9', '372.5', '416.2', '424.0']
['Kansas\u202f*', '12,835', '425.0', '405.5', '441.8', '400.4', '401.2', '389.9', '352.6', '327.5', '356.7', '353.9']
['Colorado\u202f*', '24,570', '423.1', '384.6', '401.5', '372.2', '344.1', '321.0', '307.8', '291.2', '307.4', '320.2']
['North Carolina\u202f*', '44,451', '419.3', '378.7', '356.2', '370.4', '371.8', '347.0', '329.1', '336.6', '353.5', '349.8']
['Georgia\u202f*', '42,850', '400.1', '326.2', '338.9', '356.5', '390.4', '378.3', '385.8', '359.7', '380.0', '373.2']
['Maryland\u202f*', '24,215', '399.9', '454.4', '469.4', '503.3', '481.7', '457.2', '448.0', '467.8', '477.3', '494.1']
['Pennsylvania\u202f*', '49,793', '389.5', '306.0', '305.4', '313.0', '315.9', '315.1', '315.0', '326.6', '355.5', '355.0']
['Florida\u202f*', '83,368', '383.6', '378.2', '385.9', '408.1', '429.4', '461.9', '458.9', '460.0', '487.0', '515.3']
['New York\u202f*', '70,339', '363.8', '361.0', '350.8', '361.1', '374.6', '379.7', '384.7', '389.8', '406.3', '398.1']
['Indiana\u202f*', '24,161', '357.7', '371.5', '373.5', '395.0', '399.7', '387.5', '365.3', '349.9', '344.8', '331.8']
['West Virginia\u202f*', '6,352', '355.9', '318.9', '299.9', '361.2', '362.7', '337.9', '316.4', '289.7', '320.1', '315.9']
['Nebraska\u202f*', '6,473', '334.1', '304.6', '289.9', '311.8', '296.8', '274.9', '276.2', '252.2', '258.8', '253.2']
['North Dakota\u202f*', '2,518', '329.0', '301.4', '284.1', '282.5', '252.1', '239.4', '270.4', '256.3', '245.7', '247.0']
['Wisconsin\u202f*', '18,861', '323.4', '297.1', '299.0', '321.8', '306.9', '305.8', '291.1', '271.1', '283.9', '236.9']
['Ohio\u202f*', '36,104', '308.8', '296.0', '294.8', '296.8', '307.7', '291.9', '285.7', '275.7', '301.5', '307.4']
['Massachusetts\u202f*', '21,288', '308.8', '328.7', '340.3', '354.3', '380.7', '390.9', '395.1', '404.0', '407.0', '428.4']
['Iowa\u202f*', '9,601', '303.5', '287.6', '263.7', '287.5', '292.9', '286.1', '272.8', '260.9', '265.6', '255.6']
['Washington\u202f*', '22,596', '293.7', '303.3', '315.3', '302.8', '303.5', '284.4', '285.8', '277.9', '298.1', '294.6']
['Oregon\u202f*', '12,380', '291.9', '293.7', '290.4', '280.4', '268.8', '259.8', '259.2', '242.9', '247.1', '247.6']
['Mississippi\u202f*', '8,638', '291.2', '261.2', '266.0', '256.2', '281.7', '275.8', '278.3', '267.4', '260.1', '269.8']
['Minnesota\u202f*', '15,698', '277.5', '237.5', '221.2', '239.7', '241.9', '242.6', '229.1', '223.2', '230.9', '221.2']
['Utah\u202f*', '8,471', '260.7', '236.9', '239.4', '242.2', '243.3', '236.0', '219.5', '209.2', '208.0', '195.0']
['Kentucky\u202f*', '11,600', '259.1', '220.7', '217.9', '231.1', '235.6', '218.7', '215.2', '198.8', '224.9', '238.2']
['Hawaii\u202f*', '3,576', '254.2', '264.5', '255.0', '251.2', '241.6', '293.4', '236.7', '245.3', '243.0', '287.2']
['Idaho\u202f*', '4,432', '242.6', '232.6', '239.7', '239.2', '230.7', '215.6', '210.4', '204.7', '209.8', '200.9']
['Wyoming\u202f*', '1,364', '234.2', '215.0', '213.8', '234.6', '244.7', '222.1', '195.4', '197.7', '201.3', '219.3']
['Rhode Island\u202f*', '2,440', '230.8', '222.7', '219.8', '234.2', '239.1', '242.5', '219.9', '244.6', '253.0', '247.5']
['Virginia\u202f*', '17,925', '208.0', '209.4', '204.2', '210.4', '219.8', '195.6', '198.4', '187.9', '191.5', '196.7']
['New Jersey\u202f*', '17,353', '195.4', '206.7', '208.6', '231.8', '243.5', '255.4', '260.9', '285.6', '290.1', '308.4']
['Connecticut\u202f*', '6,459', '181.6', '184.6', '209.6', '229.2', '227.7', '218.5', '238.5', '254.5', '283.5', '272.8']
['Vermont\u202f*', '1,081', '173.4', '207.2', '185.0', '173.3', '136.5', '118.0', '102.6', '114.9', '142.3', '135.2']
['Puerto Rico\u202f*', '5,196', '164.5', '202.9', '200.9', '232.6', '224.4', '219.6', '237.2', '257.8', '275.0', '284.4']
['New Hampshire', '2,000', '146.4', '158.1', '177.6', '195.7', '199.8', '199.3', '197.7', '199.6', '215.0', '188.0']
['Maine', '1,466', '108.6', '116.1', '112.0', '120.6', '124.0', '130.1', '127.6', '121.6', '122.4', '123.2']
['United States\u202f*', '1,313,105', '398.5', '379.4', '383.4', '394.0', '397.5', '383.2', '372.0', '367.9', '387.8', '386.3']

# install tabulate to format my dateframe in  readable format

In [4]:
pip install tabulate

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: tabulate in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.9.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\User\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

# Read the CSV file into a DataFrame and save DataFrame to new name and display the first few rows of the DataFrame

In [5]:
import pandas as pd

new_violent_crime = pd.read_csv('violent_crime_rates_all_years.csv')


print(new_violent_crime.head())

               State    2020   2019    2018   2017    2016    2015    2014  \
0  Washington * D.C.   7,127  999.8  1045.2  997.1  1002.7  1203.5  1269.1
1           Alaska *   6,126  837.8   865.0  891.7   856.7   804.6   730.2
2       New Mexico *  16,393  778.3   824.0  842.8   778.6   699.4   656.1
3        Tennessee *  46,328  672.7   598.9  630.4   655.0   638.5   612.1
4         Arkansas *  20,363  671.9   580.8  561.6   566.0   554.3   521.3

     2013    2012  ...  398.5  379.4  383.4  394.0  397.5  383.2  372.0  \
0  1242.6  1281.9  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1   635.5   602.6  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2   597.7   596.7  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3   610.7   579.7  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4   480.2   445.7  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN

   367.9  387.8  386.3
0    NaN    NaN    NaN
1    NaN    NaN    NaN
2    NaN    NaN    NaN
3    NaN    NaN    NaN
4    NaN    NaN    NaN

[5 rows x 35 columns]

# Read the csv file into a pandas DataFrame, keep the columns i want to keep

In [6]:
import pandas as pd
file_path = 'violent_crime_rates_all_years.csv'

new_violent_crime= pd.read_csv(file_path)

columns_to_keep = ['State', '2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011']

new_violent_crime = new_violent_crime[columns_to_keep]

#Print out the DataFrame out

In [7]:
print(new_violent_crime)

                State       2020   2019    2018   2017    2016    2015  \
0   Washington * D.C.      7,127  999.8  1045.2  997.1  1002.7  1203.5
1            Alaska *      6,126  837.8   865.0  891.7   856.7   804.6
2        New Mexico *     16,393  778.3   824.0  842.8   778.6   699.4
3         Tennessee *     46,328  672.7   598.9  630.4   655.0   638.5
4          Arkansas *     20,363  671.9   580.8  561.6   566.0   554.3
5           Arizona *     35,980  654.8   447.1  475.7   505.7   471.0
6         Louisiana *     29,704  639.4   559.7  543.3   556.3   565.0
7          Missouri *     33,385  542.7   499.6  501.4   531.2   520.8
8    South Carolina *     27,691  530.7   510.1  500.8   506.1   506.8
9      South Dakota *      4,476  501.4   397.1  396.4   429.8   422.0
10         Michigan *     47,641  478.0   438.6  452.5   449.9   460.9
11          Montana *      5,077  469.8   417.9  380.9   373.9   374.1
12           Nevada *     14,445  460.3   496.1  552.1   560.6   677.9
13         Oklahoma *     18,255  458.6   436.3  474.6   457.4   455.3
14          Alabama *     22,322  453.6   504.7  523.1   522.4   532.4
15            Texas *    131,084  446.5   421.8  412.9   437.8   433.8
16       California *    174,026  442.0   442.1  447.5   453.3   444.8
17         Delaware *      4,262  431.9   422.7  422.5   457.3   510.0
18         Illinois *     53,612  425.9   415.3  411.4   436.2   436.7
19           Kansas *     12,835  425.0   405.5  441.8   400.4   401.2
20         Colorado *     24,570  423.1   384.6  401.5   372.2   344.1
21   North Carolina *     44,451  419.3   378.7  356.2   370.4   371.8
22          Georgia *     42,850  400.1   326.2  338.9   356.5   390.4
23         Maryland *     24,215  399.9   454.4  469.4   503.3   481.7
24     Pennsylvania *     49,793  389.5   306.0  305.4   313.0   315.9
25          Florida *     83,368  383.6   378.2  385.9   408.1   429.4
26         New York *     70,339  363.8   361.0  350.8   361.1   374.6
27          Indiana *     24,161  357.7   371.5  373.5   395.0   399.7
28    West Virginia *      6,352  355.9   318.9  299.9   361.2   362.7
29         Nebraska *      6,473  334.1   304.6  289.9   311.8   296.8
30     North Dakota *      2,518  329.0   301.4  284.1   282.5   252.1
31        Wisconsin *     18,861  323.4   297.1  299.0   321.8   306.9
32             Ohio *     36,104  308.8   296.0  294.8   296.8   307.7
33    Massachusetts *     21,288  308.8   328.7  340.3   354.3   380.7
34             Iowa *      9,601  303.5   287.6  263.7   287.5   292.9
35       Washington *     22,596  293.7   303.3  315.3   302.8   303.5
36           Oregon *     12,380  291.9   293.7  290.4   280.4   268.8
37      Mississippi *      8,638  291.2   261.2  266.0   256.2   281.7
38        Minnesota *     15,698  277.5   237.5  221.2   239.7   241.9
39             Utah *      8,471  260.7   236.9  239.4   242.2   243.3
40         Kentucky *     11,600  259.1   220.7  217.9   231.1   235.6
41           Hawaii *      3,576  254.2   264.5  255.0   251.2   241.6
42            Idaho *      4,432  242.6   232.6  239.7   239.2   230.7
43          Wyoming *      1,364  234.2   215.0  213.8   234.6   244.7
44     Rhode Island *      2,440  230.8   222.7  219.8   234.2   239.1
45         Virginia *     17,925  208.0   209.4  204.2   210.4   219.8
46       New Jersey *     17,353  195.4   206.7  208.6   231.8   243.5
47      Connecticut *      6,459  181.6   184.6  209.6   229.2   227.7
48          Vermont *      1,081  173.4   207.2  185.0   173.3   136.5
49      Puerto Rico *      5,196  164.5   202.9  200.9   232.6   224.4
50      New Hampshire      2,000  146.4   158.1  177.6   195.7   199.8
51              Maine      1,466  108.6   116.1  112.0   120.6   124.0
52    United States *  1,313,105  398.5   379.4  383.4   394.0   397.5

      2014    2013    2012    2011
0   1269.1  1242.6  1281.9  1241.8
1    730.2   635.5   602.6   604.1
2    656.1   597.7   596.7   559.6
3    612.1   610.7   579.7   638.5
4    521.3   480.2   445.7   469.6
5    410.2   392.7   405.8   428.6
6    539.7   515.9   510.4   496.3
7    497.4   443.3   422.0   451.3
8    504.5   497.8   494.8   560.5
9    383.1   328.3   398.7   323.8
10   415.5   429.1   429.8   455.0
11   349.6   328.5   240.7   278.8
12   695.9   635.7   591.2   608.6
13   422.0   413.8   428.1   474.4
14   472.4   427.7   418.1   450.3
15   412.2   406.7   399.8   408.6
16   426.3   396.4   396.2   423.5
17   499.0   488.1   479.1   550.5
18   383.8   370.9   372.5   416.2
19   389.9   352.6   327.5   356.7
20   321.0   307.8   291.2   307.4
21   347.0   329.1   336.6   353.5
22   378.3   385.8   359.7   380.0
23   457.2   448.0   467.8   477.3
24   315.1   315.0   326.6   355.5
25   461.9   458.9   460.0   487.0
26   379.7   384.7   389.8   406.3
27   387.5   365.3   349.9   344.8
28   337.9   316.4   289.7   320.1
29   274.9   276.2   252.2   258.8
30   239.4   270.4   256.3   245.7
31   305.8   291.1   271.1   283.9
32   291.9   285.7   275.7   301.5
33   390.9   395.1   404.0   407.0
34   286.1   272.8   260.9   265.6
35   284.4   285.8   277.9   298.1
36   259.8   259.2   242.9   247.1
37   275.8   278.3   267.4   260.1
38   242.6   229.1   223.2   230.9
39   236.0   219.5   209.2   208.0
40   218.7   215.2   198.8   224.9
41   293.4   236.7   245.3   243.0
42   215.6   210.4   204.7   209.8
43   222.1   195.4   197.7   201.3
44   242.5   219.9   244.6   253.0
45   195.6   198.4   187.9   191.5
46   255.4   260.9   285.6   290.1
47   218.5   238.5   254.5   283.5
48   118.0   102.6   114.9   142.3
49   219.6   237.2   257.8   275.0
50   199.3   197.7   199.6   215.0
51   130.1   127.6   121.6   122.4
52   383.2   372.0   367.9   387.8

# Save to a new to csv file and select my files and clean the column names to show cleaned dataframe called newer_cleaned_violent_crime_rates

# Had reopen DataFrame and rename it because I forgot to do a few things with the DataFrame

In [8]:
newer_cleaned_violent_crime_rates = pd.read_csv('new_cleaned_violent_crime_rates.csv')
newer_cleaned_violent_crime_rates

,State,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,Washington * D.C.,"7,127",999.8,1045.2,997.1,1002.7,1203.5,1269.1,1242.6,1281.9,1241.8
1,Alaska *,"6,126",837.8,865.0,891.7,856.7,804.6,730.2,635.5,602.6,604.1
2,New Mexico *,"16,393",778.3,824.0,842.8,778.6,699.4,656.1,597.7,596.7,559.6
3,Tennessee *,"46,328",672.7,598.9,630.4,655.0,638.5,612.1,610.7,579.7,638.5
4,Arkansas *,"20,363",671.9,580.8,561.6,566.0,554.3,521.3,480.2,445.7,469.6
5,Arizona *,"35,980",654.8,447.1,475.7,505.7,471.0,410.2,392.7,405.8,428.6
6,Louisiana *,"29,704",639.4,559.7,543.3,556.3,565.0,539.7,515.9,510.4,496.3
7,Missouri *,"33,385",542.7,499.6,501.4,531.2,520.8,497.4,443.3,422.0,451.3
8,South Carolina *,"27,691",530.7,510.1,500.8,506.1,506.8,504.5,497.8,494.8,560.5
9,South Dakota *,"4,476",501.4,397.1,396.4,429.8,422.0,383.1,328.3,398.7,323.8
10,Michigan *,"47,641",478.0,438.6,452.5,449.9,460.9,415.5,429.1,429.8,455.0
11,Montana *,"5,077",469.8,417.9,380.9,373.9,374.1,349.6,328.5,240.7,278.8
12,Nevada *,"14,445",460.3,496.1,552.1,560.6,677.9,695.9,635.7,591.2,608.6
13,Oklahoma *,"18,255",458.6,436.3,474.6,457.4,455.3,422.0,413.8,428.1,474.4
14,Alabama *,"22,322",453.6,504.7,523.1,522.4,532.4,472.4,427.7,418.1,450.3
15,Texas *,"131,084",446.5,421.8,412.9,437.8,433.8,412.2,406.7,399.8,408.6
16,California *,"174,026",442.0,442.1,447.5,453.3,444.8,426.3,396.4,396.2,423.5
17,Delaware *,"4,262",431.9,422.7,422.5,457.3,510.0,499.0,488.1,479.1,550.5
18,Illinois *,"53,612",425.9,415.3,411.4,436.2,436.7,383.8,370.9,372.5,416.2
19,Kansas *,"12,835",425.0,405.5,441.8,400.4,401.2,389.9,352.6,327.5,356.7
20,Colorado *,"24,570",423.1,384.6,401.5,372.2,344.1,321.0,307.8,291.2,307.4
21,North Carolina *,"44,451",419.3,378.7,356.2,370.4,371.8,347.0,329.1,336.6,353.5
22,Georgia *,"42,850",400.1,326.2,338.9,356.5,390.4,378.3,385.8,359.7,380.0
23,Maryland *,"24,215",399.9,454.4,469.4,503.3,481.7,457.2,448.0,467.8,477.3
24,Pennsylvania *,"49,793",389.5,306.0,305.4,313.0,315.9,315.1,315.0,326.6,355.5
25,Florida *,"83,368",383.6,378.2,385.9,408.1,429.4,461.9,458.9,460.0,487.0
26,New York *,"70,339",363.8,361.0,350.8,361.1,374.6,379.7,384.7,389.8,406.3
27,Indiana *,"24,161",357.7,371.5,373.5,395.0,399.7,387.5,365.3,349.9,344.8
28,West Virginia *,"6,352",355.9,318.9,299.9,361.2,362.7,337.9,316.4,289.7,320.1
29,Nebraska *,"6,473",334.1,304.6,289.9,311.8,296.8,274.9,276.2,252.2,258.8
30,North Dakota *,"2,518",329.0,301.4,284.1,282.5,252.1,239.4,270.4,256.3,245.7
31,Wisconsin *,"18,861",323.4,297.1,299.0,321.8,306.9,305.8,291.1,271.1,283.9
32,Ohio *,"36,104",308.8,296.0,294.8,296.8,307.7,291.9,285.7,275.7,301.5
33,Massachusetts *,"21,288",308.8,328.7,340.3,354.3,380.7,390.9,395.1,404.0,407.0
34,Iowa *,"9,601",303.5,287.6,263.7,287.5,292.9,286.1,272.8,260.9,265.6
35,Washington *,"22,596",293.7,303.3,315.3,302.8,303.5,284.4,285.8,277.9,298.1
36,Oregon *,"12,380",291.9,293.7,290.4,280.4,268.8,259.8,259.2,242.9,247.1
37,Mississippi *,"8,638",291.2,261.2,266.0,256.2,281.7,275.8,278.3,267.4,260.1
38,Minnesota *,"15,698",277.5,237.5,221.2,239.7,241.9,242.6,229.1,223.2,230.9
39,Utah *,"8,471",260.7,236.9,239.4,242.2,243.3,236.0,219.5,209.2,208.0
40,Kentucky *,"11,600",259.1,220.7,217.9,231.1,235.6,218.7,215.2,198.8,224.9
41,Hawaii *,"3,576",254.2,264.5,255.0,251.2,241.6,293.4,236.7,245.3,243.0
42,Idaho *,"4,432",242.6,232.6,239.7,239.2,230.7,215.6,210.4,204.7,209.8
43,Wyoming *,"1,364",234.2,215.0,213.8,234.6,244.7,222.1,195.4,197.7,201.3
44,Rhode Island *,"2,440",230.8,222.7,219.8,234.2,239.1,242.5,219.9,244.6,253.0
45,Virginia *,"17,925",208.0,209.4,204.2,210.4,219.8,195.6,198.4,187.9,191.5
46,New Jersey *,"17,353",195.4,206.7,208.6,231.8,243.5,255.4,260.9,285.6,290.1
47,Connecticut *,"6,459",181.6,184.6,209.6,229.2,227.7,218.5,238.5,254.5,283.5
48,Vermont *,"1,081",173.4,207.2,185.0,173.3,136.5,118.0,102.6,114.9,142.3
49,Puerto Rico *,"5,196",164.5,202.9,200.9,232.6,224.4,219.6,237.2,257.8,275.0
50,New Hampshire,"2,000",146.4,158.1,177.6,195.7,199.8,199.3,197.7,199.6,215.0
51,Maine,"1,466",108.6,116.1,112.0,120.6,124.0,130.1,127.6,121.6,122.4
52,United States *,"1,313,105",398.5,379.4,383.4,394.0,397.5,383.2,372.0,367.9,387.8

#Remove the * from the DataFrame state column

In [9]:
newer_cleaned_violent_crime_rates['State'] = newer_cleaned_violent_crime_rates['State'].str.replace('*', '')

#Display the DataFrame

In [10]:
newer_cleaned_violent_crime_rates

,State,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,Washington D.C.,"7,127",999.8,1045.2,997.1,1002.7,1203.5,1269.1,1242.6,1281.9,1241.8
1,Alaska,"6,126",837.8,865.0,891.7,856.7,804.6,730.2,635.5,602.6,604.1
2,New Mexico,"16,393",778.3,824.0,842.8,778.6,699.4,656.1,597.7,596.7,559.6
3,Tennessee,"46,328",672.7,598.9,630.4,655.0,638.5,612.1,610.7,579.7,638.5
4,Arkansas,"20,363",671.9,580.8,561.6,566.0,554.3,521.3,480.2,445.7,469.6
5,Arizona,"35,980",654.8,447.1,475.7,505.7,471.0,410.2,392.7,405.8,428.6
6,Louisiana,"29,704",639.4,559.7,543.3,556.3,565.0,539.7,515.9,510.4,496.3
7,Missouri,"33,385",542.7,499.6,501.4,531.2,520.8,497.4,443.3,422.0,451.3
8,South Carolina,"27,691",530.7,510.1,500.8,506.1,506.8,504.5,497.8,494.8,560.5
9,South Dakota,"4,476",501.4,397.1,396.4,429.8,422.0,383.1,328.3,398.7,323.8
10,Michigan,"47,641",478.0,438.6,452.5,449.9,460.9,415.5,429.1,429.8,455.0
11,Montana,"5,077",469.8,417.9,380.9,373.9,374.1,349.6,328.5,240.7,278.8
12,Nevada,"14,445",460.3,496.1,552.1,560.6,677.9,695.9,635.7,591.2,608.6
13,Oklahoma,"18,255",458.6,436.3,474.6,457.4,455.3,422.0,413.8,428.1,474.4
14,Alabama,"22,322",453.6,504.7,523.1,522.4,532.4,472.4,427.7,418.1,450.3
15,Texas,"131,084",446.5,421.8,412.9,437.8,433.8,412.2,406.7,399.8,408.6
16,California,"174,026",442.0,442.1,447.5,453.3,444.8,426.3,396.4,396.2,423.5
17,Delaware,"4,262",431.9,422.7,422.5,457.3,510.0,499.0,488.1,479.1,550.5
18,Illinois,"53,612",425.9,415.3,411.4,436.2,436.7,383.8,370.9,372.5,416.2
19,Kansas,"12,835",425.0,405.5,441.8,400.4,401.2,389.9,352.6,327.5,356.7
20,Colorado,"24,570",423.1,384.6,401.5,372.2,344.1,321.0,307.8,291.2,307.4
21,North Carolina,"44,451",419.3,378.7,356.2,370.4,371.8,347.0,329.1,336.6,353.5
22,Georgia,"42,850",400.1,326.2,338.9,356.5,390.4,378.3,385.8,359.7,380.0
23,Maryland,"24,215",399.9,454.4,469.4,503.3,481.7,457.2,448.0,467.8,477.3
24,Pennsylvania,"49,793",389.5,306.0,305.4,313.0,315.9,315.1,315.0,326.6,355.5
25,Florida,"83,368",383.6,378.2,385.9,408.1,429.4,461.9,458.9,460.0,487.0
26,New York,"70,339",363.8,361.0,350.8,361.1,374.6,379.7,384.7,389.8,406.3
27,Indiana,"24,161",357.7,371.5,373.5,395.0,399.7,387.5,365.3,349.9,344.8
28,West Virginia,"6,352",355.9,318.9,299.9,361.2,362.7,337.9,316.4,289.7,320.1
29,Nebraska,"6,473",334.1,304.6,289.9,311.8,296.8,274.9,276.2,252.2,258.8
30,North Dakota,"2,518",329.0,301.4,284.1,282.5,252.1,239.4,270.4,256.3,245.7
31,Wisconsin,"18,861",323.4,297.1,299.0,321.8,306.9,305.8,291.1,271.1,283.9
32,Ohio,"36,104",308.8,296.0,294.8,296.8,307.7,291.9,285.7,275.7,301.5
33,Massachusetts,"21,288",308.8,328.7,340.3,354.3,380.7,390.9,395.1,404.0,407.0
34,Iowa,"9,601",303.5,287.6,263.7,287.5,292.9,286.1,272.8,260.9,265.6
35,Washington,"22,596",293.7,303.3,315.3,302.8,303.5,284.4,285.8,277.9,298.1
36,Oregon,"12,380",291.9,293.7,290.4,280.4,268.8,259.8,259.2,242.9,247.1
37,Mississippi,"8,638",291.2,261.2,266.0,256.2,281.7,275.8,278.3,267.4,260.1
38,Minnesota,"15,698",277.5,237.5,221.2,239.7,241.9,242.6,229.1,223.2,230.9
39,Utah,"8,471",260.7,236.9,239.4,242.2,243.3,236.0,219.5,209.2,208.0
40,Kentucky,"11,600",259.1,220.7,217.9,231.1,235.6,218.7,215.2,198.8,224.9
41,Hawaii,"3,576",254.2,264.5,255.0,251.2,241.6,293.4,236.7,245.3,243.0
42,Idaho,"4,432",242.6,232.6,239.7,239.2,230.7,215.6,210.4,204.7,209.8
43,Wyoming,"1,364",234.2,215.0,213.8,234.6,244.7,222.1,195.4,197.7,201.3
44,Rhode Island,"2,440",230.8,222.7,219.8,234.2,239.1,242.5,219.9,244.6,253.0
45,Virginia,"17,925",208.0,209.4,204.2,210.4,219.8,195.6,198.4,187.9,191.5
46,New Jersey,"17,353",195.4,206.7,208.6,231.8,243.5,255.4,260.9,285.6,290.1
47,Connecticut,"6,459",181.6,184.6,209.6,229.2,227.7,218.5,238.5,254.5,283.5
48,Vermont,"1,081",173.4,207.2,185.0,173.3,136.5,118.0,102.6,114.9,142.3
49,Puerto Rico,"5,196",164.5,202.9,200.9,232.6,224.4,219.6,237.2,257.8,275.0
50,New Hampshire,"2,000",146.4,158.1,177.6,195.7,199.8,199.3,197.7,199.6,215.0
51,Maine,"1,466",108.6,116.1,112.0,120.6,124.0,130.1,127.6,121.6,122.4
52,United States,"1,313,105",398.5,379.4,383.4,394.0,397.5,383.2,372.0,367.9,387.8

# So I extract the United states row out of my DatFrame and saved that United States row into a new csv file called single_united_states_row.csv so that I can merge that with my other crime csv file
#

In [11]:
import pandas as pd

single_row_crime = newer_cleaned_violent_crime_rates.loc[52]
single_row_crime.to_csv('single_united_states_row.csv', index=False)

newer_cleaned_violent_crime_rates = newer_cleaned_violent_crime_rates.drop(52)

# Removed the 52 that was the United States crime rate numbers

In [12]:
newer_cleaned_violent_crime_rates = newer_cleaned_violent_crime_rates[newer_cleaned_violent_crime_rates['State'] != 'United States']

In [13]:
newer_cleaned_violent_crime_rates

,State,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,Washington D.C.,"7,127",999.8,1045.2,997.1,1002.7,1203.5,1269.1,1242.6,1281.9,1241.8
1,Alaska,"6,126",837.8,865.0,891.7,856.7,804.6,730.2,635.5,602.6,604.1
2,New Mexico,"16,393",778.3,824.0,842.8,778.6,699.4,656.1,597.7,596.7,559.6
3,Tennessee,"46,328",672.7,598.9,630.4,655.0,638.5,612.1,610.7,579.7,638.5
4,Arkansas,"20,363",671.9,580.8,561.6,566.0,554.3,521.3,480.2,445.7,469.6
5,Arizona,"35,980",654.8,447.1,475.7,505.7,471.0,410.2,392.7,405.8,428.6
6,Louisiana,"29,704",639.4,559.7,543.3,556.3,565.0,539.7,515.9,510.4,496.3
7,Missouri,"33,385",542.7,499.6,501.4,531.2,520.8,497.4,443.3,422.0,451.3
8,South Carolina,"27,691",530.7,510.1,500.8,506.1,506.8,504.5,497.8,494.8,560.5
9,South Dakota,"4,476",501.4,397.1,396.4,429.8,422.0,383.1,328.3,398.7,323.8
10,Michigan,"47,641",478.0,438.6,452.5,449.9,460.9,415.5,429.1,429.8,455.0
11,Montana,"5,077",469.8,417.9,380.9,373.9,374.1,349.6,328.5,240.7,278.8
12,Nevada,"14,445",460.3,496.1,552.1,560.6,677.9,695.9,635.7,591.2,608.6
13,Oklahoma,"18,255",458.6,436.3,474.6,457.4,455.3,422.0,413.8,428.1,474.4
14,Alabama,"22,322",453.6,504.7,523.1,522.4,532.4,472.4,427.7,418.1,450.3
15,Texas,"131,084",446.5,421.8,412.9,437.8,433.8,412.2,406.7,399.8,408.6
16,California,"174,026",442.0,442.1,447.5,453.3,444.8,426.3,396.4,396.2,423.5
17,Delaware,"4,262",431.9,422.7,422.5,457.3,510.0,499.0,488.1,479.1,550.5
18,Illinois,"53,612",425.9,415.3,411.4,436.2,436.7,383.8,370.9,372.5,416.2
19,Kansas,"12,835",425.0,405.5,441.8,400.4,401.2,389.9,352.6,327.5,356.7
20,Colorado,"24,570",423.1,384.6,401.5,372.2,344.1,321.0,307.8,291.2,307.4
21,North Carolina,"44,451",419.3,378.7,356.2,370.4,371.8,347.0,329.1,336.6,353.5
22,Georgia,"42,850",400.1,326.2,338.9,356.5,390.4,378.3,385.8,359.7,380.0
23,Maryland,"24,215",399.9,454.4,469.4,503.3,481.7,457.2,448.0,467.8,477.3
24,Pennsylvania,"49,793",389.5,306.0,305.4,313.0,315.9,315.1,315.0,326.6,355.5
25,Florida,"83,368",383.6,378.2,385.9,408.1,429.4,461.9,458.9,460.0,487.0
26,New York,"70,339",363.8,361.0,350.8,361.1,374.6,379.7,384.7,389.8,406.3
27,Indiana,"24,161",357.7,371.5,373.5,395.0,399.7,387.5,365.3,349.9,344.8
28,West Virginia,"6,352",355.9,318.9,299.9,361.2,362.7,337.9,316.4,289.7,320.1
29,Nebraska,"6,473",334.1,304.6,289.9,311.8,296.8,274.9,276.2,252.2,258.8
30,North Dakota,"2,518",329.0,301.4,284.1,282.5,252.1,239.4,270.4,256.3,245.7
31,Wisconsin,"18,861",323.4,297.1,299.0,321.8,306.9,305.8,291.1,271.1,283.9
32,Ohio,"36,104",308.8,296.0,294.8,296.8,307.7,291.9,285.7,275.7,301.5
33,Massachusetts,"21,288",308.8,328.7,340.3,354.3,380.7,390.9,395.1,404.0,407.0
34,Iowa,"9,601",303.5,287.6,263.7,287.5,292.9,286.1,272.8,260.9,265.6
35,Washington,"22,596",293.7,303.3,315.3,302.8,303.5,284.4,285.8,277.9,298.1
36,Oregon,"12,380",291.9,293.7,290.4,280.4,268.8,259.8,259.2,242.9,247.1
37,Mississippi,"8,638",291.2,261.2,266.0,256.2,281.7,275.8,278.3,267.4,260.1
38,Minnesota,"15,698",277.5,237.5,221.2,239.7,241.9,242.6,229.1,223.2,230.9
39,Utah,"8,471",260.7,236.9,239.4,242.2,243.3,236.0,219.5,209.2,208.0
40,Kentucky,"11,600",259.1,220.7,217.9,231.1,235.6,218.7,215.2,198.8,224.9
41,Hawaii,"3,576",254.2,264.5,255.0,251.2,241.6,293.4,236.7,245.3,243.0
42,Idaho,"4,432",242.6,232.6,239.7,239.2,230.7,215.6,210.4,204.7,209.8
43,Wyoming,"1,364",234.2,215.0,213.8,234.6,244.7,222.1,195.4,197.7,201.3
44,Rhode Island,"2,440",230.8,222.7,219.8,234.2,239.1,242.5,219.9,244.6,253.0
45,Virginia,"17,925",208.0,209.4,204.2,210.4,219.8,195.6,198.4,187.9,191.5
46,New Jersey,"17,353",195.4,206.7,208.6,231.8,243.5,255.4,260.9,285.6,290.1
47,Connecticut,"6,459",181.6,184.6,209.6,229.2,227.7,218.5,238.5,254.5,283.5
48,Vermont,"1,081",173.4,207.2,185.0,173.3,136.5,118.0,102.6,114.9,142.3
49,Puerto Rico,"5,196",164.5,202.9,200.9,232.6,224.4,219.6,237.2,257.8,275.0
50,New Hampshire,"2,000",146.4,158.1,177.6,195.7,199.8,199.3,197.7,199.6,215.0
51,Maine,"1,466",108.6,116.1,112.0,120.6,124.0,130.1,127.6,121.6,122.4

# Pulled up the the states with the highest crime rate for each year using convert_to_numeric(value) to handle non-strings

In [14]:
import pandas as pd

columns_to_convert = ['2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011']

def convert_to_numeric(value):
    try:
        return pd.to_numeric(value.replace(',', ''), errors='coerce')
    except AttributeError:
        return pd.to_numeric(value, errors='coerce')

for column in columns_to_convert:
    newer_cleaned_violent_crime_rates[column] = newer_cleaned_violent_crime_rates[column].apply(convert_to_numeric)

newer_cleaned_violent_crime_rates = newer_cleaned_violent_crime_rates.fillna(0)


for column in columns_to_convert:
    highest_crime_state = newer_cleaned_violent_crime_rates.loc[newer_cleaned_violent_crime_rates[column].idxmax(), 'State']
    print(f"State with the highest crime rate in {column}: {highest_crime_state}")

State with the highest crime rate in 2020: California
State with the highest crime rate in 2019: Washington  D.C.
State with the highest crime rate in 2018: Washington  D.C.
State with the highest crime rate in 2017: Washington  D.C.
State with the highest crime rate in 2016: Washington  D.C.
State with the highest crime rate in 2015: Washington  D.C.
State with the highest crime rate in 2014: Washington  D.C.
State with the highest crime rate in 2013: Washington  D.C.
State with the highest crime rate in 2012: Washington  D.C.
State with the highest crime rate in 2011: Washington  D.C.

# Pulled up the the states with the lowest crime rate for each year using convert_to_numeric(value) to handle non-strings

In [15]:
import pandas as pd

columns_to_convert = ['2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011']

def convert_to_numeric(value):
    try:
        return pd.to_numeric(value.replace(',', ''), errors='coerce')
    except AttributeError:
        return pd.to_numeric(value, errors='coerce')

for column in columns_to_convert:
    newer_cleaned_violent_crime_rates[column] = newer_cleaned_violent_crime_rates[column].apply(convert_to_numeric)

newer_cleaned_violent_crime_rates = newer_cleaned_violent_crime_rates.fillna(0)

for column in columns_to_convert:
    lowest_crime_state = newer_cleaned_violent_crime_rates.loc[newer_cleaned_violent_crime_rates[column].idxmin(), 'State']
    print(f"State with the lowest crime rate in {column}: {lowest_crime_state}")

State with the lowest crime rate in 2020: Vermont
State with the lowest crime rate in 2019: Maine
State with the lowest crime rate in 2018: Maine
State with the lowest crime rate in 2017: Maine
State with the lowest crime rate in 2016: Maine
State with the lowest crime rate in 2015: Maine
State with the lowest crime rate in 2014: Vermont
State with the lowest crime rate in 2013: Vermont
State with the lowest crime rate in 2012: Vermont
State with the lowest crime rate in 2011: Maine

# Open dateFiles\crimes.dataset.csv file

In [16]:
crime= pd.read_csv("dataFiles\crimes.dataset.csv")
 
crime

,Year,Population,Violent Crimes,Violent crime rate,Murder nonnegligent manslaughter,Murder nonnegligent manslaughter rate,Rape\n(revised\ndefinition),Rape\n(revised\ndefinition)\nrate,Rape\n(legacy\ndefinition,Rape\n(legacy\ndefinition)\nrate,...,Aggravated\nassault,Aggravated\nassault rate,Property\ncrime,Property\ncrime\nrate,Burglary,Burglary\nrate,Larceny-\ntheft,Larceny-\ntheft rate,Motor\nvehicle\ntheft,Motor\nvehicle\ntheft\nrate
0,2000,"281,421,906","1,425,486",506.5,"15,586",5.5,NaN,NaN,"90,178",32.0,...,"911,706",324.0,"10,182,584","3,618.3","2,050,992",728.8,"6,971,590","2,477.3","1,160,002",412.2
1,2001,"285,317,559","1,439,480",504.5,"16,037",5.6,NaN,NaN,"90,863",31.8,...,"909,023",318.6,"10,437,189","3,658.1","2,116,531",741.8,"7,092,267","2,485.7","1,228,391",430.5
2,2002,"287,973,924","1,423,677",494.4,"16,229",5.6,NaN,NaN,"95,235",33.1,...,"891,407",309.5,"10,455,277","3,630.6","2,151,252",747.0,"7,057,379","2,450.7","1,246,646",432.9
3,2003,"290,788,976","1,383,676",475.8,"16,528",5.7,NaN,NaN,"93,883",32.3,...,"859,030",295.4,"10,442,862","3,591.2","2,154,834",741.0,"7,026,802","2,416.5","1,261,226",433.7
4,2004,"293,656,842","1,360,088",463.2,"16,148",5.5,NaN,NaN,"95,089",32.4,...,"847,381",288.6,"10,319,386","3,514.1","2,144,446",730.3,"6,937,089","2,362.3","1,237,851",421.5
5,2005,"296,507,061","1,390,745",469.0,"16,740",5.6,NaN,NaN,"94,347",31.8,...,"862,220",290.8,"10,174,754","3,431.5","2,155,448",726.9,"6,783,447","2,287.8","1,235,859",416.8
6,2006,"299,398,484","1,435,123",479.3,"17,309",5.8,NaN,NaN,"94,472",31.6,...,"874,096",292.0,"10,019,601","3,346.6","2,194,993",733.1,"6,626,363","2,213.2","1,198,245",400.2
7,2007,"301,621,157","1,422,970",471.8,"17,128",5.7,NaN,NaN,"92,160",30.6,...,"866,358",287.2,"9,882,212","3,276.4","2,190,198",726.1,"6,591,542","2,185.4","1,100,472",364.9
8,2008,"304,059,724","1,394,461",458.6,"16,465",5.4,NaN,NaN,"90,750",29.8,...,"843,683",277.5,"9,774,152","3,214.6","2,228,887",733.0,"6,586,206","2,166.1","959,059",315.4
9,2009,"307,006,550","1,325,896",431.9,"15,399",5.0,NaN,NaN,"89,241",29.1,...,"812,514",264.7,"9,337,060","3,041.3","2,203,313",717.7,"6,338,095","2,064.5","795,652",259.2
10,2010,"309,330,219","1,251,248",404.5,"14,722",4.8,NaN,NaN,"85,593",27.7,...,"781,844",252.8,"9,112,625","2,945.9","2,168,459",701.0,"6,204,601","2,005.8","739,565",239.1
11,2011,"311,587,816","1,206,005",387.1,"14,661",4.7,NaN,NaN,"84,175",27.0,...,"752,423",241.5,"9,052,743","2,905.4","2,185,140",701.3,"6,151,095","1,974.1","716,508",230.0
12,2012,"313,873,685","1,217,057",387.8,"14,856",4.7,NaN,NaN,"85,141",27.1,...,"762,009",242.8,"9,001,992","2,868.0","2,109,932",672.2,"6,168,874","1,965.4","723,186",230.4
13,2013,"316,497,531","1,168,298",369.1,"14,319",4.5,"113,695",35.9,"82,109",25.9,...,"726,777",229.6,"8,651,892","2,733.6","1,932,139",610.5,"6,019,465","1,901.9","700,288",221.3
14,2014,"318,907,401","1,153,022",361.6,"14,164",4.4,"118,027",37.0,"84,864",26.6,...,"731,089",229.2,"8,209,010","2,574.1","1,713,153",537.2,"5,809,054","1,821.5","686,803",215.4
15,2015,"320,896,618","1,199,310",373.7,"15,883",4.9,"126,134",39.3,"91,261",28.4,...,"764,057",238.1,"8,024,115","2,500.5","1,587,564",494.7,"5,723,488","1,783.6","713,063",222.2
16,2016,"323,405,935","1,250,162",386.6,"17,413",5.4,"132,414",40.9,"96,970",30.0,...,"802,982",248.3,"7,928,530","2,451.6","1,516,405",468.9,"5,644,835","1,745.4","767,290",237.3
17,2017,"325,147,121","1,247,917",383.8,"17,294",5.3,"135,666",41.7,"99,708",30.7,...,"810,319",249.2,"7,682,988","2,362.9","1,397,045",429.7,"5,513,000","1,695.5","772,943",237.7
18,2018,"326,687,501","1,209,997",370.4,"16,374",5.0,"143,765",44.0,"101,363",31.0,...,"810,982",248.2,"7,219,084","2,209.8","1,235,013",378.0,"5,232,167","1,601.6","751,904",230.2
19,2019,"328,239,523","1,203,808",366.7,"16,425",5.0,"139,815",42.6,"98,213",29.9,...,"821,182",250.2,"6,925,677","2,109.9","1,117,696",340.5,"5,086,096","1,549.5","721,885",219.9

#Use drop to remove columns in my DataFrame

In [17]:
columns_to_remove = [
    'Murder nonnegligent manslaughter rate',
    'Rape\n(revised\ndefinition)',
    'Rape\n(revised\ndefinition)\nrate',
    'Rape\n(legacy\ndefinition)\nrate',
    'Robbery\nrate',
    'Aggravated\nassault rate',
    'Property\ncrime',
    'Property\ncrime\nrate',
    'Larceny-\ntheft rate',
    'Motor\nvehicle\ntheft',
    'Motor\nvehicle\ntheft\nrate',
    'Burglary\nrate',
    'Violent crime rate',
    'Aggravated\nassault',
    'Larceny-\ntheft',
    'Murder nonnegligent manslaughter',
    'Rape\n(legacy\ndefinition',
    'Robbery',
    'Burglary',
    
]

crime= crime.drop(columns=columns_to_remove)
crime

    Year   Population Violent Crimes
0   2000  281,421,906      1,425,486
1   2001  285,317,559      1,439,480
2   2002  287,973,924      1,423,677
3   2003  290,788,976      1,383,676
4   2004  293,656,842      1,360,088
5   2005  296,507,061      1,390,745
6   2006  299,398,484      1,435,123
7   2007  301,621,157      1,422,970
8   2008  304,059,724      1,394,461
9   2009  307,006,550      1,325,896
10  2010  309,330,219      1,251,248
11  2011  311,587,816      1,206,005
12  2012  313,873,685      1,217,057
13  2013  316,497,531      1,168,298
14  2014  318,907,401      1,153,022
15  2015  320,896,618      1,199,310
16  2016  323,405,935      1,250,162
17  2017  325,147,121      1,247,917
18  2018  326,687,501      1,209,997
19  2019  328,239,523      1,203,808

#Save to the cleaned up DataFrame to a new csv file so that i can merge two files together

In [18]:
import pandas as pd

crime.to_csv('population_crime_rate.csv', index=False)

In [19]:
import pandas as pd

population_crime = pd.read_csv('population_crime_rate.csv')

population_crime

    Year   Population Violent Crimes
0   2000  281,421,906      1,425,486
1   2001  285,317,559      1,439,480
2   2002  287,973,924      1,423,677
3   2003  290,788,976      1,383,676
4   2004  293,656,842      1,360,088
5   2005  296,507,061      1,390,745
6   2006  299,398,484      1,435,123
7   2007  301,621,157      1,422,970
8   2008  304,059,724      1,394,461
9   2009  307,006,550      1,325,896
10  2010  309,330,219      1,251,248
11  2011  311,587,816      1,206,005
12  2012  313,873,685      1,217,057
13  2013  316,497,531      1,168,298
14  2014  318,907,401      1,153,022
15  2015  320,896,618      1,199,310
16  2016  323,405,935      1,250,162
17  2017  325,147,121      1,247,917
18  2018  326,687,501      1,209,997
19  2019  328,239,523      1,203,808

#Show DataFrame

In [20]:
single_row_crime

State    United States
2020          1,313,105
2019              398.5
2018              379.4
2017              383.4
2016              394.0
2015              397.5
2014              383.2
2013              372.0
2012              367.9
2011              387.8
Name: 52, dtype: object

convert the dictionary to a DataFrame

In [21]:
import pandas as pd

data = {
    'State': [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011],
    'United States': ['1,313,105', 398.5, 379.4, 383.4, 394.0, 397.5, 383.2, 372.0, 367.9, 387.8]
}

single_row_crime = pd.DataFrame(data)


print(single_row_crime)

   State United States
0   2020     1,313,105
1   2019         398.5
2   2018         379.4
3   2017         383.4
4   2016         394.0
5   2015         397.5
6   2014         383.2
7   2013         372.0
8   2012         367.9
9   2011         387.8

#Remove and drop rows

In [22]:
import pandas as pd

data = {
    'State': [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011],
    'United States': ['1,313,105', 398.5, 379.4, 383.4, 394.0, 397.5, 383.2, 372.0, 367.9, 387.8]
}

single_row_crime = pd.DataFrame(data)

rows_to_remove = [1, 2, 3, 4, 5, 6, 7, 8, 9]

single_row_crime = single_row_crime.drop(rows_to_remove)


print(single_row_crime)

   State United States
0   2020     1,313,105

#Changed and rename the names of the two columns in the dataFrame so that I can merge my crime files

In [23]:
import pandas as pd

data = {
    'State': [2020],
    'United States': ['1,313,105']
}

single_row_crime = single_row_crime.rename(columns={'State': 'Year', 'United States': 'Violent Crimes'})

print(single_row_crime)

   Year Violent Crimes
0  2020      1,313,105

# Add A new column and put a value into that column

In [24]:
import pandas as pd

data = {'Year': [2020], 'Violent Crimes': [1313105]}
single_row_crime = pd.DataFrame(data)

single_row_crime.insert(1, "Population", "{:,}".format(335942111))

single_row_crime["Violent Crimes"] = single_row_crime["Violent Crimes"].apply(lambda x: "{:,}".format(x))
print(single_row_crime)

   Year   Population Violent Crimes
0  2020  335,942,111      1,313,105

#Save my DataFrame to a new csv file

In [25]:

single_row_crime.to_csv('cleaned_single_row_crime_file.csv', index=False)

#Saved my cleaned up DataFrame and made a new csv file